.FortuneTeller {
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #dfe3as
    margin: 10px 0;
}
.BlockCard {
    background-color: grey;
    }
.playing-card {
        --card-size: 5rem;
        background: linear-gradient(#e66465, #9198e5);
}